<header>
    <nav style="background-color: rgb(32, 30, 44);">
        <h1 class="navbar-title text-center">圖書管理系統</h1>
    </nav>
</header>
<main>
    <button class="btn btn-primary" id="open_insert_view" (click)="openInsertView()">新增書籍</button>

    <div *ngIf="isOpenInsertView" class="uk-card uk-text-left" id="insert_window">
        <form style="padding: 20px;" class="border rounded form-inline col-md-12" (ngSubmit)="insertBook()"
            ngNativeValidate>
            <div class="row">
                <div Align="right" class="col">
                    <img [src]="imgPath" height="300px">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <label style="width: 70%;">書籍類別</label>
                            <select style="width: 70%;" class="form-control" [compareWith]="compareFn"
                                [(ngModel)]="this.viewModel.book_category"
                                (ngModelChange)="onBookCategoryChange($event)" name="book_category">
                                <option *ngFor="let bookCategory of bookCategoryData" [ngValue]="bookCategory">
                                    {{ bookCategory.text }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label style="width: 70%;">書籍名稱</label>
                            <input class="form-control" type="text" [(ngModel)]="this.viewModel.book_name"
                                style="width: 70%;" name="book_name" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label style="width: 70%;">書籍作者</label>
                            <input class="form-control" type="text" [(ngModel)]="this.viewModel.book_author"
                                style="width: 70%;" name="book_author" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label style="width: 70%;">購買日期</label>
                            <input class="form-control" type="date" [(ngModel)]="this.viewModel.book_bought_date"
                                name="book_bought_date" value="" title="請選擇購買日期" style="width: 70%" required />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;padding-top: 5px;">
                        <div class="col">
                            <button type="submit" id="insert_book" class="btn btn-primary">新增</button> &nbsp;
                            <button (click)="closeInsertView()" id="close_insert_view"
                                class="btn btn-secondary">取消</button> &nbsp;
                            <button (click)="initInsertView()" id="reset_insert_view" class="btn btn-light">清除</button>
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <br />
    <input type="text" name="book_filter" placeholder="搜尋書籍關鍵字..." [(ngModel)]="searchText"
        style="margin-bottom: 5px; margin-top: 5px;" />

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th *ngFor="let colName of tableColumnNames">{{ colName }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of tableData | bookFilter: searchText">
                <td>{{ row.BookId }}</td>
                <td>{{ row.BookCategory }}</td>
                <td>{{ row.BookName }}</td>
                <td>{{ row.BookAuthor }}</td>
                <td>{{ row.BookBoughtDate }}</td>
                <td><button class="btn btn-danger" (click)="deleteSelectedBook(row)"
                        style="height: 30px;font-size: small;">刪除</button></td>
            </tr>
        </tbody>
    </table>
